body{
   
    margin:0;
   
    
    
}
#container{
    padding-bottom: 20px;
    width: 80%;     
    margin:auto;
    height:100%;
    min-height:500px;    
    flex-direction: row;
    border-radius: 20px;
    -moz-border-radius: 20px;
    border: 1px solid transparent;
    text-align: center;
    font-size: 180%;  
    margin-top: 50px;
    border: 7px solid transparent;
    border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cstyle%3Epath%7Banimation:stroke 5s infinite linear%3B%7D%40keyframes stroke%7Bto%7Bstroke-dashoffset:776%3B%7D%7D%3C/style%3E%3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%232d3561' /%3E%3Cstop offset='25%25' stop-color='%23c05c7e' /%3E%3Cstop offset='50%25' stop-color='%23f3826f' /%3E%3Cstop offset='100%25' stop-color='%23ffb961' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='30' stroke-dasharray='388'/%3E %3C/svg%3E") 3;
    background-image: url(../img/2070.jpg)

       
        
    
    
}


#divTitleGame{
    width: 100%;
}

#titleGame{
    height: 50px;
    box-shadow: 3px 3px 0 3px #930;
    color: #dbe8f1ef;
    padding-right: 10px;
    width: 100%;
   
   
   
   
   
  
}
#innerContainer{
    margin-top: 2%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  
}
#btnstart{
    
    display: inline-block;
    margin-top: 2em;
    border: 0;
    padding: 0.5em 1em;
    text-decoration: none;
    color: #FFF;
    background: #F60;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    border-radius: 0.5em;
    box-shadow: 3px 3px 0 3px #930;
    cursor: pointer;
   
  
}
#btnstart:active {
    box-shadow: 0 0 0 0 #930,
    inset 4px 4px 4px #930;
    transform: translate(6px, 6px);
   
    
}
.grid{
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 450px;
    margin:auto;
    background-color: #ebe57f;
   
 
 
   
    
}
.square, .square div{
    width: 15px;
    height:15px;
    box-sizing: border-box;
    border: 1px solid black ;
    display: flex;
}

#playerImg{
    width:10px ;
    height:10px;
   
}
.mines{
    display: none;   
    background-repeat: no-repeat;
    background-size: contain;
   
}
#namePlayer{
      
    padding-top: 10px;
    margin-top: 15%;
   

}
#count{
    color: #FFF;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);

}
#warnMessage{
    color: #dbe8f1ef;

}
#inputName{
    border-radius: 10px;
    height: 30px;
    font-size: 9px;
    width: 100px; 
    text-transform:uppercase   
   

}
#inputName::-webkit-input-placeholder { /* Chrome, Safari, Opera */
    color: #6db5f1;
    font-style: italic;
    text-transform: uppercase;
    
  }
  
#inputName:-moz-placeholder { /* Firefox 18- */
    color: #6db5f1;
    font-style: italic;
    opacity: 1;
    text-transform: uppercase;
}

#inputName::-moz-placeholder {  /* Firefox 19+ */
    color: #6db5f1;
    font-style: italic;
    opacity: 1;
    text-transform: uppercase;
    background-image: url(..../serverCampoMinado/explosao.gif)
}

#inputName:-ms-input-placeholder { /* IE10+ */ 
    color: #6db5f1;
    font-style: italic; 
    text-transform: uppercase;
}
#divStart,#divHost{
    height:100%;
    min-height:500px;
    width: 20%;
    margin-top: 7%;   
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background-image:url(../img/bola.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 3px 3px 0 3px #930;
  

  
    
} 
#divStart :hover,#divHost :hover{
    width: 80%;
    margin-left: 2px;
    
 

  
    
} 


.host{
    width: 50%;
    height: 40px;
    color: rgb(245, 236, 230);
    text-align: center;
    line-height: 220%;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 20px;
    cursor: pointer;
    background-color: #F60;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);    
    box-shadow: 3px 3px 0 3px #930;
    
}

#hostCard{
    width:30%;
    height: 200px;
    background-color: #F60;
}
.player{
    color: white;
    height: 60px;
    width: 30%;
    font-weight: bolder;
    cursor: pointer;
    box-shadow: 3px 3px 0 3px #930;
    padding-right: 5px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);  
}


